<br />
<br />
<div class="col-4">
  <div>
    <p><strong>Parole preferite</strong></p>
    <ul>
      <li>Iterare</li>
      <li>Contrasto</li>
      <li>Olistico</li>
      <li><em>Come cosa</em></li>
    </ul>
  </div>
  <div>
    <p><strong>Musicisti preferiti</strong></p>
    <ul>
      <li>Ta-ku</li>
      <li>Medasin</li>
      <li>J. Cole</li>
      <li><em>Tom Misch</em></li>
    </ul>
  </div>
  <div>
    <p><strong>Hobby</strong></p>
    <ul>
      <li>Cucinare</li>
      <li>Fresbee</li>
      <li>Arrampicata</li>
      <li>Camminare per ore</li>
    </ul>
  </div>
  <div>
    <p><strong>Valori</strong></p>
    <ul>
      <li>Onestà</li>
      <li>Curiosità</li>
      <li>Umiltà</li>
      <li>Equilibrio</li>
    </ul>
  </div>

</div>