  <h3>Skills</h3>
  <p><strong>Design skills</strong>
    <br>Rapid Prototyping
    <br>UI Design
    <br>Typography
    <br>Design System
    <br>Interaction Design, Information Architecture
    <br>Brand
    <br>A/B Testing
    <br>User testing
    <br>User Research</p>

  <p></p><br>
  <p><strong>Dev skills</strong>
    <br>CSS (Sass, BEM, JSS)
    <br>Motion (GSAP)
    <br>JavaScript
    <br>React
    <br>Vue
    <br>Semantic HTML
    <br>Headless CMS
    <br>Wordpress
    <br>Accessibility
    <br>Performance</p>

  <p><br></p>
  <p><strong>Other skills</strong>
    <br>Psicologia (laurea),
    <br>Time management,
    <br>SEO,
    <br>Marketing</p>

  <p><br></p>
  <p><strong>Soft skills</strong>
    <br>Onestà intellettuale,
    <br>Umiltà,
    <br>Empatia,
    <br>Team Attitude,
    <br>Proattività,
    <br>Motivare le scelte,
    <br>Apertura ai feedback</p>


  <p><br></p>
  <p><strong>Tools</strong>
    <br>Figma
    <br>Principle
    <br>Sketch
    <br>Framer
    <br>Abstract
    <br>Avocode
    <br>InVision
    <br>Zeplin
    <br>Illustrator</p>

</div>