.half-divided {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.half-image {
    background-image: url("/assets/img/benBig.png");
    background-attachment: fixed;
    background-size: contain;
}