.avatar-mobile {
    position: absolute;
    top: 12%;
    right: 4%;
    height: 100px;
    width: 100px;
    background-image: url("/assets/img/benCodino-Rounded-Transparent.png");
    background-position: center;
    background-size: contain;
}

@media screen and (min-width: $on-large) {
    .avatar-mobile {
        display: none;
    }

    .half-divided {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .sticky{
        position: sticky;
        top: 10vh;
    }

    .all-height{
        // height: 95vh;
        width: 100%;
    }
}