.initial-details {
    // margin: $spacing-unit*2 0;
    // padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-column-gap: 2em;
    // justify-items: center;
    h3,h4,h5{
        margin-bottom: 0;
    }
}

article section {
    margin: $spacing-unit*2 0;
}

blockquote {
    letter-spacing: -0.3px;
    border-left: 4px solid darken($brand-color, 5%);
}

li {
    margin-bottom: 0.5em;
}

#dividendoFirst {
    background-image: url("/assets/img/dividendo/Overview.svg");
    background-color: #4a5f7c;
    
}

.first-image {
    top: 0;
    height: 100vh;
    // display: block;
    margin-left: calc(51% - 50vw);
    margin-right: calc(51% - 50vw);
    background-size: cover;
    // position: relative;
    // position: absolute;
}

.slick-prev:before,
.slick-next:before {
    color: $brand-color !important;
}

.central {
    display: flex;
    justify-content: center;
}

.constraint {
    max-width: 300px;
}