.initial-details {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: "overview overview ruolo tools periodo";
    grid-column-gap: 2em;

    h3,
    h4,
    h5 {
        margin-bottom: 0;
    }

    p {
        font-size: $small-font-size;
    }

    .periodo {
        grid-area: periodo;
    }

    .ruolo {
        grid-area: ruolo;
    }

    .tools {
        grid-area: tools;
    }

    .overview {
        grid-area: overview;
    }

    @media screen and (max-width: $on-palm) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1em;
        grid-template-areas:
            " overview  overview    overview "
            " ruolo     tools       periodo"
    }
}

article section {
    margin: $spacing-unit*2 0;
}

li {
    margin-bottom: 0.5em;
}

.bg-pan-bl {
    animation: bg-pan-bl 6s both;
}


.bg-first-image {
    top: 0;
    height: 100vh;
    // metto a 51% per evitare problemi con la barra laterale di windows
    // margin-left: calc(51% - 50vw);
    // margin-right: calc(51.5% - 50vw);
    margin: 0 calc( -50vw + 50%);
    background-size: cover;
    margin-top: 0;
    margin-bottom: $spacing-unit/2;
}

.central {
    display: flex;
    justify-content: center;
}

.space-around {
    margin: 4em 0;
}

// per le slides delle gif se no me le deforma in larghezza
.constraint {
    max-width: 300px;
}

@keyframes bg-pan-bl {
    0% {
        background-position: 100% 0%;
        opacity: 0;
    }
    100% {
        background-position: 0% 100%;
        opacity: 1;
    }
}