.initial-details {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: "overview overview ruolo tools periodo";
    grid-column-gap: 2em;
    h3,h4,h5{
        margin-bottom: 0;
    }
    p {
        font-size: $small-font-size;
    }
    .periodo {
        grid-area: periodo;
    }
    .ruolo {
        grid-area: ruolo;
    }
    .tools {
        grid-area: tools;
    }
    .overview{
        grid-area: overview;
    }

    @media screen and (max-width: $on-palm) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1em;
        grid-template-areas: 
        " overview  overview    overview "
        " ruolo     tools       periodo"
    }
}




article section {
    margin: $spacing-unit*2 0;
}

blockquote {
    // letter-spacing: -0.3px;
    border-left: 4px solid darken($brand-color, 5%);
    font-size: $base-font-size*1.5;
    margin: $spacing-unit 0;
}

li {
    margin-bottom: 0.5em;
}

#dividendoFirst {
    background-image: url("/assets/img/dividendo/Overview.png");
    background-color: #4a5f7c;
}

.first-image {
    top: 0;
    height: 100vh;
    // metto a 51% per evitare problemi con la barra laterale di windows
    margin-left: calc(52% - 50vw);
    margin-right: calc(52% - 50vw);
    background-size: cover;
    margin-top: 0;
}

.slick-prev:before,
.slick-next:before {
    color: $brand-color !important;
}

.central {
    display: flex;
    justify-content: center;
}

.constraint {
    max-width: 300px;
}