.card-link {
    text-decoration: none !important;
    border: 0 none;
    z-index: 1;
}

.card {
    margin: 20px 0px 20px 0px;
    border-radius: 2vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 20%;
    z-index: 1;

    .card-title {
        color: #fafafa;
        font-size: 3em;
        font-weight: 400;
        z-index: 1;
    }
}

li.works {
    transition: 0.3s ease all;
    transform: translateY(0px);
    z-index: 1;

    &:hover {
        transition: 0.3s ease all;
        transform: translateY(-10px);
    }
}

#card_almadigital{
    background-color: $alma-color;
}

#card_dividendo {
    background: $dividendo-color; 
}

#card_autoflow {
    background: $autoflow-color;
}

#card_speckandtech {
    background: $set-color;
}

.grid-container {
    display: grid;
    // grid-template-rows: 4em 1.5em;
    grid-template-areas: "title" "tags";
    align-self: center;
    justify-self: center;
    padding: 1rem;

    .tags {
        grid-area: tags;
        z-index: 50;
    }

    .title {
        grid-area: title;
        align-self: center;
        
        > h3 {
            background: transparent;
            margin: 0;
            color: white;
        }
    }

    .excerpt {
        grid-area: excerpt;
    }
}

.container {
    padding: 1em;
}

.featuredImage {
    order: 2;
    height: auto;
    width: 20vw;
    max-width: 400px;
    min-width: 300px;
}

.tag {
    display: inline-block;
    color: $background-color;
    opacity: 0.80;
    // border: 1px solid $background-color;
    margin-right: 16px;
    margin-top: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid rgba(238, 238, 238, 0.705);
    font-size: 14px;
}

// card-article transition
.circle {
    position: fixed;
    background-color: transparent; 
    transition: transform 1s, z-index 0s, background-color 0s;
    border-radius: 50%;
    top: 50vh;
    left: 50vw;
    z-index: -1 ;
    width: 10px;
    height: 10px;
}

.circle-expanded {
    z-index: 100;
    transform: scale(500, 500);
}

.circle-dividendo {
    background-color: $dividendo-color;
}

.circle-autoflow {
    background-color: $autoflow-color;
}

.circle-alma {
    background-color: $alma-color;
}

/* Small screens */
@media all and (max-width: $on-palm) {
    .card {
        flex-flow: row wrap;
        justify-content: center;
    }

    .featuredImage {
        order: -1;
        max-height: 30%;
        max-width: 70vw;
        width: 100%;
    }
}
