.card-link {
    text-decoration: none !important;
    border: 0 none;
}

.card {
    margin: 20px 0px 20px 0px;
    border-radius: 2vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 20%;

    // make card clickabe also tapping on svg
    object {
        pointer-events: none;
    }

    .card-title {
        color: #fafafa;
        font-size: 3em;
        z-index: 1;
    }

    
}

li.works {
    transition: 0.3s ease all;
    transform: translateY(0px);

    &:hover {
        transition: 0.3s ease all;
        transform: translateY(-10px);
    }
}


#card1 {
    background: $dividendo-color   ; /* fallback for old browsers */
}

.grid-container {
    display: grid;
    justify-items: center;
    grid-template-rows: 4em 1.5em;
    grid-template-areas: "title  " "tags";
    align-self: center;
    justify-self: center;

    .tags {
        grid-area: tags;
        z-index: 50;
    }

    .title {
        grid-area: title;
        align-self: center;
        
        > h3 {
            background: transparent;
            margin-bottom: 0px;
            color: white;
        }
    }

    .excerpt {
        grid-area: excerpt;
    }
}

.container {
    padding: 1em;
}

.featuredImage {
    max-width: 30vw;
    order: 2;
    height: auto;
    width: 100%;
}

.tag {
    display: inline-block;
    // background-color: #e9e9e9;
    color: #e9e9e9;
    background-color: #475C7A ;
    margin: 1px;
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
}

// card-article transition
.circle {
    position: fixed;
    background-color: transparent; 
    transition: transform 0.5s, z-index 0s, background-color 0s;
    border-radius: 50%;
    top: 50vh;
    z-index: -1 ;
    width: 10px;
    height: 10px;
}

.circle-expanded {
    background-color: $dividendo-color; 
    z-index: 100;
    transform: scale(500, 500);
}

/* Small screens */
@media all and (max-width: $on-palm) {
    .card {
        flex-flow: row wrap;
        justify-content: center;
    }

    .featuredImage {
        order: -1;
        max-height: 30%;
        max-width: 70vw;
        width: 100%;
    }
}
