article.almadigital {
  blockquote {
    // border-left: 4px solid darken($alma-color, 5%);
    border-left: none;
    color: $alma-color;
  }
  

  .first-image {
    background-image: url("/assets/img/almadigital/AlmaDigitalStyleguide-mockup.png");
    height: 100%;
    background-size: cover;
  }

  .bg-first-image {
    background-color: $alma-color;
  }

  a {
    color: lighten($alma-color, 5%);
    text-decoration: none;

    &.fancy-link {
      &:before,
      &:after {
        background-color: $alma-color;
      }
    }

    &:visited {
      color: $alma-color;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: $alma-color;
  }

  .little-slides {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;

    // img {
    //     margin: 0 15vw 0 20vw;
    // }
  }
}