.circle {
    position: fixed;
    background-color: transparent; 
    transition: transform 0.5s, z-index 0s, background-color 0s;
    border-radius: 50%;
    top: 50vh;
    z-index: -1 ;
    width: 10px;
    height: 10px;
}

.circle-expanded {
    background-color:#61c9a8; 
    z-index: 100;
    transform: scale(500, 500);
}