article.dividendo {
    blockquote {
        // border-left: 4px solid darken($alma-color, 5%);
        border-left: none;
        color: $dividendo-color;
    }

    .first-image {
        background-image: url("/assets/img/dividendo/on_the_floor.png");
        height: 100%;
        background-size: cover;

    }
        
    .bg-first-image {
        background-color: $dividendo-color;
    }

    a {
        color: $dividendo-color;
        text-decoration: none;
        
        &.fancy-link{
            &:before, &:after {
                background-color: $dividendo-color;
            }
        }
        
        &:visited {
            color: darken($dividendo-color, 15%);
        }
    }
    
    .slick-prev:before,
    .slick-next:before {
        color: $dividendo-color;
    }
}