article.ds {

    blockquote {
        border-left: 4px solid darken($ds-color, 5%);
    }

    .first-image {
        background-image: url("/assets/img/ds/legoBig.png");
        height: 100%;
        background-size: cover;
    }
        
    .bg-first-image {
        background-color: $ds-color;
    }

    a {
        color: $ds-color;
        text-decoration: none;
        
        &.fancy-link{
            &:before, &:after {
                background-color: $ds-color;
            }
        }
        
        &:visited {
            color: darken($ds-color, 15%);
        }
    }
    
    .slick-prev:before,
    .slick-next:before {
        color: $ds-color;
    }
}
    