---
layout: default
---
<article class="post">


    <div class="one-third">
        <div>
            <header class="post-header padding-header">
                <h1 class="post-title">
                    {{ page.title | escape }}
                </h1>
            </header>
            <div class="post-content left">
                {{ content }}
            </div>
        </div>
        <!-- <img class="sticky all-height" src="{{site.baseurl}}/assets/img/benBig.png"> -->
        <img src="{{site.baseurl}}/assets/img/benCodino-Rounded-Transparent.png">
    </div>
        
</article>