---
layout: default
---
<article class="post h-entry {{ page.permalink }}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <section class="bg-first-image ">
      <div class="first-image bg-pan-bl" id="dividendoFirst">
    </section>

    <h1 class="post-title p-name" itemprop="name headline">{{ page.titleh1 | escape }}</h1>

    <section class="initial-details full-width content">
      <div class="overview">
        <h4>Design Brief</h4>
        <p>{{ page.overview }}</p>
      </div>
      <div class="ruolo">
        <h4>Ruolo</h4>
        <p>{{ page.ruolo }}</p>
      </div>
      <div class="tools">
        <h4>Tools</h4>
        <p>{{ page.tools }}</p>
      </div>
      <div class="periodo">
        <h4>Periodo</h4>
        <p>{{ page.periodo }}</p>
      </div>
      <!-- <div class="team">
          <h5>Team:</h5>
          {{ page.team }} 
      </div> -->
    </section>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%} -->

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <script type="text/javascript" src="../assets/js/scrollToTitle.js"></script>
</article>